#Azure Devops Type 1 Yaml

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master
pool:
  vmImage: 'windows-latest'
  
steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '**/Build Sanity Suit.sln'
    feedsToUse: 'select'
    
- task: VSBuild@1
  inputs:
    solution: '**\Build Sanity Suit.sln'
    vsVersion: '16.0'
    configuration: 'release'

- task: VisualStudioTestPlatformInstaller@1
  inputs:
    packageFeedSelector: 'nugetOrg'
    versionSelector: 'latestPreRelease'
    

    
- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: '$(System.DefaultWorkingDirectory)\Build Sanity Suit\bin\Release\Build Sanity Suit.dll'
    searchFolder: '$(System.DefaultWorkingDirectory)\Build Sanity Suit'
    uiTests: true
    rerunFailedTests: true
    rerunFailedThreshold: '80'
    vsTestVersion: '16.0'

    

