<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<configuration>

  <appSettings>
    <add key="Admin" value="testuser6-d365@hah.co.uk" />
    <add key="OperationalManager" value="testuser3-d365@hah.co.uk" />
    <add key="BillingManager" value="testuser5-d365@hah.co.uk" />
    <add key="contractManager" value="testuser4-d365@hah.co.uk" />
    <add key="CRMPassword" value="Welcome20" />

    <!--
    https://hah-ce-codemergetest.crm11.dynamics.com/testuser6-d365@hah.co.ukWelcome20
    https://hah-ce-gl3cr-constest.crm11.dynamics.com/adm.mazik.amaisum@hah.co.ukHealthcare19 
    https://hah-ce-codemergetest.crm11.dynamics.com/TESTUSER2-D365@hah.co.ukWelcome20
    https://hah-ce-maziksit.crm11.dynamics.com/
    https://hah-ce-gl3-build.crm11.dynamics.com/
    https://hah-ce-e2e-test.crm11.dynamics.com/
    https://hah-ce-codemergetest.crm11.dynamics.com/
    -->
    
    <add key="CRMUrl" value="https://hah-ce-codemergetest.crm11.dynamics.com/" />
    <add key="AppName" value="MazikCare Referral Management" />
    <add key="Sitemapsection" value="Referral" />
    <add key="Sitemapsubsection" value="Contract Management" />
  </appSettings>
  
  <!--
    <add key="Scheduler" value="testuser1-d365@hah.co.uk" />
    <add key="IncidentViewer" value="testuser6-d365@hah.co.uk" />
    <add key="BillingManager" value="testuser1-d365@hah.co.uk" />
    <add key="PriceController" value="testuser6-d365@hah.co.uk" />
-->

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>