<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.
    Licensed under the MIT license.-->
<configuration>

  <appSettings>
    <add key="CRMUser" value="testuser6-d365@hah.co.uk" />
    <add key="CRMPassword" value="Welcome20" />
    <!--
    https://hah-ce-codemergetest.crm11.dynamics.com/testuser6-d365@hah.co.ukWelcome20
    https://hah-ce-gl3cr-constest.crm11.dynamics.com/adm.mazik.amaisum@hah.co.ukHealthcare19 
    https://hah-ce-codemergetest.crm11.dynamics.com/TESTUSER2-D365@hah.co.ukWelcome20
    https://hah-ce-maziksit.crm11.dynamics.com/
    https://hah-ce-gl3-build.crm11.dynamics.com/
    https://hah-ce-e2e-test.crm11.dynamics.com/
    -->
    <add key="CRMUrl" value="https://hah-ce-codemergetest.crm11.dynamics.com/" />
    <add key="AppName" value="MazikCare Referral Management" />
    <add key="Sitemapsection" value="Referral" />
    <add key="Sitemapsubsection" value="Contract Management" />
  </appSettings>
 
</configuration>